@mixin font-family-cormorant() {
  font-family: "Cormorant", serif;
}

@mixin font-family-fira() {
  font-family: "Fira Sans", sans-serif;
}

:root {
  font-size: 1.25rem; /* Typically 20px, but accessable. This is now 1rem. */
  /* 0.4rem is usually 8 px, like default body margin */
  /* */
  --the-max-width: 27.9rem; /* 27.9rem = c. 558px */
  --the-line-height: 1.3;
  --h1-size: 2rem;
  --h2-size: 1.35rem;
  --larger-font-size: 1.15rem;
  --smaller-font-size: 0.9rem;
  --parskip: 0.6em; /* NOTE: changed from rem to rellative em */
  --tighter-parskip: calc(var(--parskip) / 2); /* for li and dialog elems */
  --body-part-border-width: 0.1rem;
  --pandemic-update-gap: 1.25rem;
  --pandemic-update-border-radius: 1rem;
  /* https://material.io/design/color/text-legibility.html */
  --black-text-color: rgba(0, 0, 0, 0.87);
  --maroon-solid: rgba(128, 0, 0, 1.0);
  --maroon-text: rgba(128, 0, 0, 0.87);
  --solid-episcopal-blue: rgba(3, 108, 182, 1.0);
  --half-episcopal-blue: rgba(129, 182, 219, 1.0); /* cf. (3,108,182,0.5) */

  /* */
  @include font-family-cormorant();
  line-height: var(--the-line-height);
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums proportional-nums;
  color: var(--black-text-color);
  /*
    NOTE: don't use
    font-variant-ligatures: discretionary-ligatures;
    It does a very strange "st" ligature with Cormorant.
  */
}

/*


                                                  ;;;;
                                                    ;;
         ;                                          ;;
     ;;;;;   ;;    ;; ;;     ;;    ;;  ;;  ;;;;     ;;
    ;  ;    ;  ;   ;;; ;    ;  ;    ; ;;;      ;    ;;
   ;;  ;;   ;  ;   ;;  ;;   ;  ;    ;;         ;;   ;;
    ;  ;   ;;;;;;  ;;  ;;  ;;;;;;   ;;      ;;;;;   ;;
     ;;     ;      ;;  ;;   ;       ;;     ;   ;;   ;;
   ;;       ;  ;   ;;  ;;   ;  ;    ;;    ;;   ;;    ;
    ;;;      ;;    ;;  ;;    ;;    ;;;;     ;;; ;    ;;;
       ;;
  ;;   ;
    ;;;



*/

a:link, a:visited, a:hover, a:active {
    color: var(--maroon-text);
    font-weight: bold;
}

p,
ul,
ol,
address,
figcaption,
summary {
    margin-top: 0px; /* var(--parskip); */
    margin-bottom: var(--parskip);
}

li {
    margin-top: 0px; /* var(--tighter-parskip); */
    margin-bottom: var(--tighter-parskip);
}

address {
    font-style: normal;
}

span.am-pm-abbrev {
    font-variant-caps: all-small-caps;
}


h2,
h3,
h4,
p,
ul,
ol {
    max-width: var(--the-max-width);
}

img,
ul,
ol {
    box-sizing: border-box;
}

h2 {
    margin-bottom: var(--parskip);
    margin-top: calc(var(--parskip) * 3.5); /* never used */
    font-size: var(--h2-size);
    @include font-family-fira();
    font-weight: normal;
}

h3 {
    margin-bottom: var(--parskip);
    margin-top: calc(var(--parskip) * 4); /* was: 2 */
    font-size: var(--larger-font-size);
    @include font-family-fira();
    font-weight: 300;
}

h4 {
    margin-bottom: var(--parskip);
    margin-top: calc(var(--parskip) * 2);
    font-size: var(--smaller-font-size);
    @include font-family-fira();
    font-weight: bold;
}

h5 {
    margin-bottom: var(--tighter-parskip);
    margin-top: 0;
    font-size: var(--smaller-font-size);
    @include font-family-fira();
    font-weight: 300;
}
/*

   ;;;;
   ;;;;
     ;;                                                ;;
     ;;                                                ;;
     ;;         ;      ;;     ;;    ;;     ;;    ;;  ;;;;;;;
     ;;       ;;;;;     ;     ;    ;;;;    ;;    ;;  ;;;;;;;
     ;;           ;     ;     ;   ;    ;   ;;    ;;    ;;
     ;;         ;;;;     ;   ;    ;    ;   ;;    ;;    ;;
     ;;       ;;;;;;     ;   ;   ;;    ;;  ;;    ;;    ;;
     ;;       ;   ;;     ;   ;    ;    ;   ;;    ;;    ;;
      ;      ;;   ;       ; ;     ;    ;    ;   ;;;     ;
      ;;;;    ;;;; ;;     ; ;      ;;;;     ;;;; ;;     ;;;;;
       ;;      ;   ;       ;        ;;       ;;  ;;       ;
                           ;
                          ;
                        ;;

*/

body {
  max-width: 100vw;
  > * {
    box-sizing: border-box; /* so 100% widths work right */
    width: 100%;
  }
}




/*


                          ;;
    ;;      ;;;           ;;                       ;;;
  ;;;;     ;              ;;                      ;   ;
    ;;     ;              ;;;;   ;     ;          ;   ;
    ;;     ;;;            ;;  ;   ;   ;          ;;   ;;
    ;;    ;;  ;           ;;  ;   ;   ;           ;  ;;
    ;;    ;;  ;;          ;;  ;;   ;  ;            ;; ;
    ;;     ;  ;           ;;  ;    ; ;                ;
    ;;     ;  ;           ;;  ;    ; ;               ;
  ;;;;;;    ;;            ; ;;      ;              ;;
                                    ;             ;
                                   ;
                                  ;


*/

.aspect-ratio-box {
    /*
      h/t
      https://stackoverflow.com/a/10441480/2523780
      https://medium.com/bleeding-edge/enforcing-an-aspect-ratio-on-an-html-element-in-react-and-css-27a13241c3d4
    */
    box-sizing: border-box;
    * { box-sizing: border-box; }
    width: 100%;
    height: 0;
    position: relative;
    > :only-child {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        > :only-child {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    /* https://github.com/sass/sass/issues/255 */
    &.w16h9 {
        padding-bottom: 56.25%; /* calc(9 / 16) */
    }
    &.w1280h720 {
        @extend .w16h9;
        max-width: 1280px;
        max-height: 720px;
    }
}

/*


                               ;;                    ;;
                               ;;
                               ;;
   ;;;;    ;;;;    ;; ;;    ;;;;;    ;;   ;;;; ;;  ;;;;      ;;;
   ;;  ;       ;   ;;; ;   ;   ;;   ;  ;  ;; ;; ;;   ;;     ;   ;
   ;;  ;       ;;  ;;  ;;  ;   ;;   ;  ;  ;; ;; ;;   ;;     ;
   ;;  ;;   ;;;;;  ;;  ;; ;;   ;;  ;;;;;; ;; ;; ;;   ;;    ;;
   ;;  ;   ;   ;;  ;;  ;;  ;   ;;   ;     ;; ;; ;;   ;;     ;
   ;;  ;  ;;   ;;  ;;  ;;  ;  ;;;   ;  ;  ;; ;; ;;   ;;     ;   ;
   ;;;;     ;;; ;  ;;  ;;   ;;  ;    ;;   ;; ;; ;; ;;;;;;    ;;;
   ;;
   ;;
   ;;


*/
@mixin pandemic-update-box-border($color: var(--maroon-solid)) {
    border: 0.1rem solid $color;
    border-radius: var(--pandemic-update-border-radius);
}

@mixin pandemic-update-box($max-width: var(--the-max-width)) {
    box-sizing: border-box;
    padding: var(--pandemic-update-gap);
    @include pandemic-update-box-border();
    margin: 0px
                var(--pandemic-update-gap)
                var(--parskip)
                var(--pandemic-update-gap);
    max-width: calc(#{$max-width} - (2 * var(--pandemic-update-gap)));
}

@mixin border-_-leftright-radius($topbottom, $radius) {
    @each $leftright in ("left" "right") {
        border-#{$topbottom}-#{$leftright}-radius: $radius;
    }
}

div.pandemic-update {
    @include pandemic-update-box($max-width: var(--the-max-width));
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--pandemic-update-gap);
    grid-template-areas: "asclepius content";
    align-items: center;

    > {

        img {
            grid-area: asclepius;
            height: 5rem;
        }

        div {
            grid-area: content;

            > {
                p:first-child {
                    margin-top: 0px;
                    @include font-family-fira();
                    font-weight: 300;
                    color: var(--maroon-text);
                }

                :last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}













figure.bh-figure {
  &, > * {
    display: block;
    box-sizing: border-box;
  }

  > figcaption,
  .fig-noncaption-payload {
      @include pandemic-update-box-border($color: black);
  }

  > figcaption {
      width: 100%;
      margin: 0;
      background-color: var(--half-episcopal-blue);
      padding: var(--parskip);
      > span:only-child {
          display: block;
          box-sizing: border-box;
          max-width: calc(var(--the-max-width)
                          /*
                            HACK: like the pandemic update box contents
                            (looks better for short paragraphs)
                         */
                          - (4 * var(--pandemic-update-gap)));
          margin: auto;
      }
  }

  > :not(figcaption) {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      video {
          object-position: center bottom;
          object-fit: contain;
      }
  }

  .bh-figure-small-img-helper {
    background-color: black;
    display: flex;
    justify-content: center;
  }

  @each $pos, $outside, $inside in (("first" "top" "bottom")
                                    ("last" "bottom" "top")) {
      > figcaption:#{$pos}-child,
      > :not(figcaption):#{$pos}-child .fig-noncaption-payload,
      > .fig-noncaption-payload:not(figcaption):#{$pos}-child {
          @include border-_-leftright-radius($inside, 0);
          border-#{$inside}: none;
      }
      > :not(figcaption):#{$pos}-child {
          &, * {
              @include border-_-leftright-radius(
                  $outside,
                  var(--pandemic-update-border-radius));
          }
      }
  }
}






























































div.bh-logo-lockup {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-template-areas: "logo brent-house"
                       "logo episcopal-at-uchicago";
  padding-bottom: 0.5rem;

  > {
    h1.bh-logo-lockup-heading, p.bh-logo-lockup-heading {
      grid-area: brent-house;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: var(--h1-size);
      font-weight: bold;
    }
    p.bh-logo-lockup-description {
      grid-area: episcopal-at-uchicago;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: var(--larger-font-size);
    }
    div.bh-logo-lockup-logo {
      grid-area: logo;
      align-self: center;
      img {
          max-width: 30vw; /* calc(var(--the-max-width) / 3); */
          max-height: 5rem;
      }
    }
  }
}
























@mixin widescreen {
  /* based on pure.css "medium" */
  @media (min-width: 48em) {
    @content;
  };
}

.bh-homepage-container-outer {
  background-color: white;
  padding: 0.5rem 0;
  @include widescreen {
    padding: 0.5rem;
  };
}

.bh-homepage-container-inner {
  box-sizing: border-box;
  width: 100%;
  figure.bh-figure {
    clear: both;
    @include widescreen {
      margin: 0;
    };
  }
  @include widescreen {
    margin: auto;
    /*max-width: calc((2 * var(--the-max-width)) + 5rem);*/
    max-width: calc(2 * var(--the-max-width));
    display: grid;
    grid-template-areas:
     "intro intro intro house house house"
     "everyone-pic everyone-pic everyone-txt everyone-txt quilt quilt"
     "physical physical physical vid vid vid";
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    align-items: center;
    #bh-homepage-intro,
    #bh-homepage-house {
      align-self: center;
    }
    #bh-homepage-intro,
    #bh-homepage-everyone-pic,
    #bh-homepage-physical  {
      justify-self: end;
    }
    #bh-homepage-intro {
      grid-area: intro;
    }
    #bh-homepage-house {
      grid-area: house;
    }
    #bh-homepage-everyone-pic {
      grid-area: everyone-pic;
    }
    #bh-homepage-everyone-txt {
      grid-area: everyone-txt;
    }
    #bh-homepage-quilt {
      grid-area: quilt;
    }
    #bh-homepage-vid {
      grid-area: vid;
    }
    #bh-homepage-physical {
      grid-area: physical;
    }
  };
}

figure.bh-figure#bh-homepage-quilt {
  max-width: 304px; /* limited by size of photo */
  margin-left: auto;
  margin-right: auto;
  @include widescreen {
    /* via .bh-figure-small-img-helper */
    max-width: 100%;
  };
}
img#bh-homepage-house {
  @include widescreen {
    border-radius: 50%;
  };
}
img#bh-homepage-everyone-pic {
  float: right;
  max-width: 45%;
  margin: var(--parskip) 0.5rem var(--tighter-parskip) var(--tighter-parskip);
  @include widescreen {
      float: none;
      max-width: 100%;
      margin: 0;
  };
}
.bh-homepage-text {
  max-width: min(100%, var(--the-max-width));
  margin: var(--parskip) auto;
  padding: 0 0.5rem;
  @include widescreen {
    margin: 0;
    padding: 0;
  };
}
.bh-homepage-text-highlight {
  font-size: var(--larger-font-size);
  text-align: center;
}

span.bh-homepage-lede {
  font-size: 1.75em;
  line-height: 1.1;
  display: block;
}
span.bh-homepage-lede-aux {
  display: block;
}
