/* ParentheCSS */

/*
  headings made with DrRacket’s “insert large letters”
  font: Fira Mono
  large: size 17;
  small: size 13;
*/

/*
  IDEA:
  The New York Times is doing mobile navigation
  using a single, sticky horizontal navbar
  at 100vw with `overflow: scroll` for some pages:
  I noticed it on a live updates page about
  the presedent's covid diagnosis,
  where it seemed to do in-page navigation.

  The New Yorker is doing this, too.
*/

/*



                                    ;;
                                    ;;
     ;     ;;  ;;    ;;      ;;    ;;;;;
    ;;;     ; ;;;   ;  ;    ;  ;    ;;
     ;      ;;      ;  ;    ;  ;    ;;
            ;;     ;;  ;;  ;;  ;;   ;;
     ;      ;;      ;  ;    ;  ;    ;;
    ;;;     ;;      ;  ;    ;  ;     ;
     ;     ;;;;      ;;      ;;       ;;;




*/
/*
NOTE:

Setting `font-size` on `:root` does NOT change the meaning
of `rem` in `@media` queries.
Also, `rem` in `@media` queries is broken in Safari,
but `em` is defined to be the same as `rem` there in non-broken
browsers, so just use `em`.
That makes all of this annoying.
*/
/*
FIXME:

`@media` rules and breakpoints are defined under the `floater` widget.
Want a better means of abstraction ...
*/
@function Rem($x) {
    @return 1rem * $x;
}
@function Em($x) {
    @return 1em * $x;
}

$rem-scale-factor: 1.25; /* em/rem :: Typically 20px, but accessable. */

@function MediaRem($x) {
    @return Em($rem-scale-factor * $x)
}

$the-max-width: 27.9; /* 27.9rem = c. 558px */
$page-body-min-width: 20;
$lhs-fixed-width: 8;
$gutter-min-width: 1;

$page-container-horizontal-padding: 1;

:root {
    font-size: Rem($rem-scale-factor); /* This is now 1rem. */
    --the-max-width: #{Rem($the-max-width)}; /* 27.9rem = c. 558px */
    --page-body-max-width: calc(var(--the-max-width) * 1.6);
    --page-body-min-width: #{Rem($page-body-min-width)};
    --lhs-max-width: #{Rem($lhs-fixed-width)};
    --lhs-min-width: #{Rem($lhs-fixed-width)};
    --gutter-min-width: #{Rem($gutter-min-width)};
    --gutter-max-width: 1.5rem;
    --outer-horizontal-padding: #{Rem($page-container-horizontal-padding)};
    /* `--current-lhs-offset` helpers */
    --tmp-multicol-max: calc((2 * var(--outer-horizontal-padding))
                             + var(--lhs-max-width)
                             + var(--gutter-max-width)
                             + var(--page-body-max-width));
    --tmp-offsets-both: calc(100vw - var(--tmp-multicol-max));
    --tmp-raw-lhs-offset: calc(var(--tmp-offsets-both) / 2);
    /* `max()` must get units on both args */
    --current-lhs-offset: max(0px, var(--tmp-raw-lhs-offset));
    --lhs-offset-padding: calc(var(--outer-horizontal-padding)
                               + var(--current-lhs-offset));
    /* */
    --the-line-height: 1.3;
    --h1-size: 2rem;
    --h2-size: 1.35rem;
    --larger-font-size: 1.15rem;
    --smaller-font-size: 0.9rem;
    --parskip: 0.6rem; /* TODO: might be better as rellative em */
    --tighter-parskip: calc(var(--parskip) / 2); /* for li and dialog elems */
    --body-part-border-width: 0.1rem;
    --pandemic-update-gap: 1.25rem;
    --pandemic-update-border-radius: 1rem;
    /* https://material.io/design/color/text-legibility.html */
    --black-text-color: rgba(0, 0, 0, 0.87);
    --maroon-solid: rgba(128, 0, 0, 1.0);
    --maroon-text: rgba(128, 0, 0, 0.87);
    --solid-episcopal-blue: rgba(3, 108, 182, 1.0);
    --half-episcopal-blue: rgba(129, 182, 219, 1.0); /* cf. (3,108,182,0.5) */

    /* */
    font-family: "Cormorant", serif;
    line-height: var(--the-line-height);
    text-rendering: optimizeLegibility;
    font-variant-numeric: lining-nums proportional-nums;
    color: var(--black-text-color);
    /*
      NOTE: don't use
      font-variant-ligatures: discretionary-ligatures;
      It does a very strange "st" ligature with Cormorant.
    */
}

/*


                                                  ;;;;
                                                    ;;
         ;                                          ;;
     ;;;;;   ;;    ;; ;;     ;;    ;;  ;;  ;;;;     ;;
    ;  ;    ;  ;   ;;; ;    ;  ;    ; ;;;      ;    ;;
   ;;  ;;   ;  ;   ;;  ;;   ;  ;    ;;         ;;   ;;
    ;  ;   ;;;;;;  ;;  ;;  ;;;;;;   ;;      ;;;;;   ;;
     ;;     ;      ;;  ;;   ;       ;;     ;   ;;   ;;
   ;;       ;  ;   ;;  ;;   ;  ;    ;;    ;;   ;;    ;
    ;;;      ;;    ;;  ;;    ;;    ;;;;     ;;; ;    ;;;
       ;;
  ;;   ;
    ;;;



*/

a:link, a:visited, a:hover, a:active {
    color: var(--maroon-text);
    font-weight: bold;
}

p,
ul,
ol,
address,
figcaption,
summary {
    margin-top: 0px; /* var(--parskip); */
    margin-bottom: var(--parskip);
}

li {
    margin-top: 0px; /* var(--tighter-parskip); */
    margin-bottom: var(--tighter-parskip);
}

address {
    font-style: normal;
}

span.am-pm-abbrev {
    font-variant-caps: all-small-caps;
}


h2,
h3,
h4,
p,
ul,
ol {
    max-width: min(100%, var(--the-max-width));
}

.flow-root {
    display: flow-root;
}

ul,
ol {
    box-sizing: border-box;
}

h2 {
    margin-bottom: var(--parskip);
    margin-top: calc(var(--parskip) * 3.5); /* never used */
    font-size: var(--h2-size);
    font-family: "Fira Sans", sans-serif;
    font-weight: normal;
}

h3 {
    margin-bottom: var(--parskip);
    margin-top: calc(var(--parskip) * 4); /* was: 2 */
    font-size: var(--larger-font-size);
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
}

h4 {
    margin-bottom: var(--parskip);
    margin-top: calc(var(--parskip) * 2);
    font-size: var(--smaller-font-size);
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
}

h5 {
    margin-bottom: var(--tighter-parskip);
    margin-top: 0;
    font-size: var(--smaller-font-size);
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
}

/*
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


   ;;;;
   ;;;;
     ;;                                                ;;
     ;;                                                ;;
     ;;         ;      ;;     ;;    ;;     ;;    ;;  ;;;;;;;
     ;;       ;;;;;     ;     ;    ;;;;    ;;    ;;  ;;;;;;;
     ;;           ;     ;     ;   ;    ;   ;;    ;;    ;;
     ;;         ;;;;     ;   ;    ;    ;   ;;    ;;    ;;
     ;;       ;;;;;;     ;   ;   ;;    ;;  ;;    ;;    ;;
     ;;       ;   ;;     ;   ;    ;    ;   ;;    ;;    ;;
      ;      ;;   ;       ; ;     ;    ;    ;   ;;;     ;
      ;;;;    ;;;; ;;     ; ;      ;;;;     ;;;; ;;     ;;;;;
       ;;      ;   ;       ;        ;;       ;;  ;;       ;
                           ;
                          ;
                        ;;

*/
/*

           ;;                  ;;
           ;;                  ;;
        ;  ;;                  ;;          ;
       ;   ;;;;      ;;     ;;;;; ;     ;   ;
     ;;    ;;  ;    ;  ;   ;   ;;  ;   ;     ;;
   ;;      ;;  ;    ;  ;   ;   ;;  ;   ;       ;;
    ;;     ;;  ;;  ;;  ;; ;;   ;;   ;  ;      ;;
      ;    ;;  ;    ;  ;   ;   ;;   ; ;      ;
       ;;  ;;  ;    ;  ;   ;  ;;;   ; ;    ;;
           ; ;;      ;;     ;;  ;    ;
                                     ;
                                    ;
                                   ;

*/

body {
  background-color: var(--half-episcopal-blue);
  margin: 0px;
  max-width: 100vw;

  > {

    * {
      box-sizing: border-box; /* so 100% widths work right */
      width: 100%;
    }

    header.site-header,
    main,
    footer {
      padding-right: var(--lhs-offset-padding);
      padding-left: var(--lhs-offset-padding);
    }

    header.site-header,
    footer {
        padding-top: 0.5rem;
    }
  }
}
/*

   ;;                          ;;
   ;;                          ;;
   ;;                          ;;
   ;; ;;     ;;    ;;;;     ;;;;;    ;;    ;;  ;;
   ;;; ;    ;  ;       ;   ;   ;;   ;  ;    ; ;;;
   ;;  ;;   ;  ;       ;;  ;   ;;   ;  ;    ;;
   ;;  ;;  ;;;;;;   ;;;;; ;;   ;;  ;;;;;;   ;;
   ;;  ;;   ;      ;   ;;  ;   ;;   ;       ;;
   ;;  ;;   ;  ;  ;;   ;;  ;  ;;;   ;  ;    ;;
   ;;  ;;    ;;     ;;; ;   ;;  ;    ;;    ;;;;


*/

/* Site header stuff */

header.site-header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: "logo brent-house"
                         "logo episcopal-at-uchicago"
                         /*"site-nav site-nav"*/;
    /* background-color: var(--half-episcopal-blue); */
    /* 0.4rem is usually 8 px, like default body margin */
    padding-bottom: 0.5rem;

    > {
        h1 {
            grid-area: brent-house;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: var(--h1-size);
            font-weight: bold;
        }

        h1 + p {
            grid-area: episcopal-at-uchicago;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: var(--larger-font-size);
        }

        .site-logo {
            grid-area: logo;
            align-self: center;

            img {
                max-width: 30vw; /* calc(var(--the-max-width) / 3); */
                max-height: 5rem;
            }
        }

    }
}

/*

             ;;
                    ;;
                    ;;
     ;;;;  ;;;;    ;;;;;     ;;            ;; ;;   ;;;;   ;     ;
   ;;  ;     ;;     ;;      ;  ;           ;;; ;       ;   ;   ;
    ;        ;;     ;;      ;  ;   ;;;;;   ;;  ;;      ;;  ;   ;
     ;;      ;;     ;;     ;;;;;;          ;;  ;;   ;;;;;   ; ;
       ;;    ;;     ;;      ;              ;;  ;;  ;   ;;   ; ;
   ;   ;     ;;      ;      ;  ;           ;;  ;; ;;   ;;   ; ;
    ;;;    ;;;;;;     ;;;    ;;            ;;  ;;   ;;; ;    ;


*/

body > nav.site-nav {

    background-color: var(--solid-episcopal-blue);

    > ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        /*
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: stretch;
        */
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        > li {
            /*flex: 1;*/
            display: block;
            box-sizing: border-box;
            /*margin: 0px;*/
            margin: 0.5rem;

            text-align: center;

            $v-padding: 0.5rem;
            $mid-padding: 1rem;

            & > {
                a:link, a:visited {
                    display: block;
                    box-sizing: border-box;
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.5em; /* intentionally relative em */
                    /*
                    height: 100%;
                    padding-top: $v-padding;
                    padding-bottom: $v-padding;
                    */
                    color: white;
                    font-family: "Fira Sans", sans-serif;
                    font-weight: normal;
                    text-decoration: none;
                }
                a:hover, a:active {
                    background-color: var(--maroon-solid);
                }
            }
            /*
            &:first-child {
                flex: 1 auto;
                text-align: left;
                border-left: none;
                > a:link {
                    padding-left: var(--lhs-offset-padding);
                    padding-right: $mid-padding;
                }
            }
            &:not(:first-child):not(:last-child) {
                flex: 2 auto;
                text-align: center;
                > a:link {
                    padding-left: $mid-padding;
                    padding-right: $mid-padding;
                }
            }
            &:last-child {
                flex: 1 auto;
                text-align: right;
                > a:link {
                    padding-left: $mid-padding;
                    padding-right: var(--lhs-offset-padding);
                }
            }
            &:not(:first-child) {
                border-left: calc(var(--body-part-border-width) / 2)
                                 solid
                                 black;
            }
*/
        }
    }
}

/*

                     ;;


  ;;;; ;;  ;;;;    ;;;;    ;; ;;
  ;; ;; ;;     ;     ;;    ;;; ;
  ;; ;; ;;     ;;    ;;    ;;  ;;
  ;; ;; ;;  ;;;;;    ;;    ;;  ;;
  ;; ;; ;; ;   ;;    ;;    ;;  ;;
  ;; ;; ;;;;   ;;    ;;    ;;  ;;
  ;; ;; ;;  ;;; ;  ;;;;;;  ;;  ;;


*/

main {
    background-color: #ffffff;
    padding-top: 0.5rem;
    padding-bottom: 1rem; /* in addition to parskip from from final child */
    display: grid;
    grid-template-areas: ".   . header "
                         "lhs . content";
    grid-template-columns: minmax(var(--lhs-min-width),
                                  var(--lhs-max-width))
                                 minmax(var(--gutter-min-width),
                                        var(--gutter-max-width))
                                 minmax(var(--page-body-min-width),
                                        var(--page-body-max-width));
    grid-gap: 0px;

    > {
        * {
            box-sizing: border-box;
        }

        header {
            grid-area: header;
            max-width: var(--page-body-max-width);
            h2 {
              margin-top: 0;
            }
        }

        aside {
            grid-area: lhs;
            max-width: var(--lhs-max-width);
        }

        div.page-body {
            grid-area: content;
            max-width: var(--page-body-max-width);

            > :first-child {
                margin-top: 0;
                /*
                   If the first child has an upper margin,
                   it won't collapse with the margin of the `h2`.
               */
            }
        }
    }
}
/*


                         ;
   ;;;;    ;;;;      ;;;;;   ;;            ;; ;;   ;;;;   ;     ;
   ;;  ;       ;    ;  ;    ;  ;           ;;; ;       ;   ;   ;
   ;;  ;       ;;  ;;  ;;   ;  ;   ;;;;;   ;;  ;;      ;;  ;   ;
   ;;  ;;   ;;;;;   ;  ;   ;;;;;;          ;;  ;;   ;;;;;   ; ;
   ;;  ;   ;   ;;    ;;     ;              ;;  ;;  ;   ;;   ; ;
   ;;  ;  ;;   ;;  ;;       ;  ;           ;;  ;; ;;   ;;   ; ;
   ;;;;     ;;; ;   ;;;      ;;            ;;  ;;   ;;; ;    ;
   ;;                  ;;
   ;;             ;;   ;
   ;;               ;;;


*/

/*
  IDEA:
  use Photon SVG icon for nesting
*/
svg.photon-icon {
    width: 1em;
    height: 1em;
    margin: calc((1em * (var(--the-line-height) - 1)) / 2) 0;
    * {
        fill: currentColor;
    }
  }

.photon-icon-inline-container {
  /* display: inline-block; */
  box-sizing: border-box;
  vertical-align: middle;
  > svg.photon-icon {
    margin: 0;
  }
}

/*
@counter-style empty-counter-style {
    system: cyclic;
    symbols: "";
}

@counter-style page-nav-depth-style {
    /* TODO: `speak-as` * /
    system: additive;
    range: 3 infinite;
    additive-symbols: 2 "▶", 1 " ";
    fallback: empty-counter-style;
    /*
       `suffix` is only used for `::marker`:
       https://www.w3.org/TR/css-counter-styles-3/#counter-style-suffix
       `::marker` isn’t a good choice b/c of a bug from 2000-04-22 (really):
       https://bugzilla.mozilla.org/show_bug.cgi?id=36854
       This is an exceptionally annoying workaround.
   * /
}
*/

main > aside > nav.page-nav {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    > div.sticky-shell {
        position: sticky;
        bottom: 0;
        min-height: min(100%,100vh);

        > ol {
            position: sticky;
            top: 0;
        }
    }


    counter-reset: page-nav-depth -1;

    ol {
        counter-increment: page-nav-depth 2;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    ol::after {
        counter-increment: page-nav-depth -2;
        content: ""; /* needed or the effect is dropped */
    }

    li {
        margin: 0px;
        padding: 0px;
    }

    a, a:link, a:visited {
        display: flex;
        text-decoration: none;
        color: var(--solid-episcopal-blue);
        padding: calc(var(--tighter-parskip) / 2) var(--tighter-parskip);

        &.disabled {
            color: rgb(118,118,118); /* UofC */
            text-decoration: line-through;
        }

        > {
            :first-child {
                flex: 0 max-content;
                &.nested-page-nav {
                    padding: 0 0.25em;
                }
            }
            :last-child {
                display: block;
                flex: 1 0px; /* consume whatever space is left */
                font-family: "Fira Sans", sans-serif;
                font-weight: 300;
            }
        }
    }

    > div.sticky-shell > ol > li {
        &:not(:first-child) > a {
            padding-top: calc(var(--parskip) * 2);
        }
        &:last-child > a {
            /* match baseline of RHS */
            padding-bottom: var(--parskip);
        }
    }
/*
    a:link::before {
        display: block;
        flex: 0 max-content; /* fixed to needed size * /
        white-space: pre;
        content: counter(page-nav-depth, page-nav-depth-style);
    }
*/
    a:not(.disabled):hover, a:not(.disabled):active {
        color: white;
        background-color: var(--solid-episcopal-blue);
    }

}

/*
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


                ;            ;;
                ;;           ;;
                             ;;                        ;;
                             ;;          ;             ;;
  ;        ;  ;;;;;       ;  ;;     ;;;;;     ;;     ;;;;;;;      ;;
   ;   ;   ;  ;;;;;      ;;;;;;    ;;;;;;;   ;;;;    ;;;;;;;    ;;;;;;
   ;  ;;  ;      ;;     ;    ;;   ;    ;    ;    ;     ;;      ;;     ;
   ;  ;;  ;      ;;     ;    ;;  ;;    ;;   ;;;;;;     ;;       ;
   ;  ; ; ;      ;;    ;;    ;;   ;    ;   ;;;;;;;;    ;;        ;;;;
   ; ;  ; ;      ;;     ;    ;;    ;;;;;    ;          ;;            ;;
   ; ;  ; ;      ;;     ;    ;;    ;;;      ;           ;      ;     ;
    ;;  ;;    ;;;;;;;   ;;;;;;;   ;;;;;      ;;;;;      ;;;;;   ;;;;;;
    ;    ;    ;;;;;;;     ;  ;;     ;;;;      ;;          ;       ;;
                                 ;;    ;;
                                  ;;;;;;
                                   ;;;


*/
/*


                               ;;                    ;;
                               ;;
                               ;;
   ;;;;    ;;;;    ;; ;;    ;;;;;    ;;   ;;;; ;;  ;;;;      ;;;
   ;;  ;       ;   ;;; ;   ;   ;;   ;  ;  ;; ;; ;;   ;;     ;   ;
   ;;  ;       ;;  ;;  ;;  ;   ;;   ;  ;  ;; ;; ;;   ;;     ;
   ;;  ;;   ;;;;;  ;;  ;; ;;   ;;  ;;;;;; ;; ;; ;;   ;;    ;;
   ;;  ;   ;   ;;  ;;  ;;  ;   ;;   ;     ;; ;; ;;   ;;     ;
   ;;  ;  ;;   ;;  ;;  ;;  ;  ;;;   ;  ;  ;; ;; ;;   ;;     ;   ;
   ;;;;     ;;; ;  ;;  ;;   ;;  ;    ;;   ;; ;; ;; ;;;;;;    ;;;
   ;;
   ;;
   ;;


*/
@mixin pandemic-update-box-border($color: var(--maroon-solid)) {
    border: 0.1rem solid $color;
    border-radius: var(--pandemic-update-border-radius);
}

@mixin pandemic-update-box($max-width: var(--the-max-width)) {
    box-sizing: border-box;
    padding: var(--pandemic-update-gap);
    @include pandemic-update-box-border();
    margin: 0px
                var(--pandemic-update-gap)
                var(--parskip)
                var(--pandemic-update-gap);
    max-width: calc(#{$max-width} - (2 * var(--pandemic-update-gap)));
}

@mixin border-_-leftright-radius($topbottom, $radius) {
    @each $leftright in ("left" "right") {
        border-#{$topbottom}-#{$leftright}-radius: $radius;
    }
}

div.pandemic-update {
    @include pandemic-update-box($max-width: var(--the-max-width));
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--pandemic-update-gap);
    grid-template-areas: "asclepius content";
    align-items: center;

    &.welcome-residents-hack {
        grid-column-gap: 0;
    }

    > {

        img {
            grid-area: asclepius;
            height: 5rem;
        }

        div {
            grid-area: content;

            > {
                p:first-child {
                    margin-top: 0px;
                    font-family: "Fira Sans", sans-serif;
                    font-weight: 300;
                    color: var(--maroon-text);
                }

                :last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

/*


   ;;        ;;                       ;;;    ;;
   ;;                                ;
   ;;                    ;          ;;                   ;
   ;;;;    ;;;;      ;;;;;          ;;     ;;;;      ;;;;;
   ;;  ;     ;;     ;  ;           ;;;;;     ;;     ;  ;
   ;;  ;     ;;    ;;  ;;  ;;;;;    ;;       ;;    ;;  ;;
   ;;  ;;    ;;     ;  ;            ;;       ;;     ;  ;
   ;;  ;     ;;      ;;             ;;       ;;      ;;
   ;;  ;     ;;    ;;               ;;       ;;    ;;
   ; ;;    ;;;;;;   ;;;             ;;     ;;;;;;   ;;;
                       ;;                              ;;
                  ;;   ;                          ;;   ;
                    ;;;                             ;;;


*/

@mixin big-fig-mixin($max-width: 100%) {
    @include pandemic-update-box($max-width: $max-width);
    clear: both;

    > * {
        display: block;
        box-sizing: border-box;
    }

    > figcaption,
    .fig-noncaption-payload {
        @include pandemic-update-box-border($color: black);
    }

    > figcaption {
        width: 100%;
        margin: 0;
        background-color: var(--half-episcopal-blue);
        padding: var(--parskip);
        > span:only-child {
            display: block;
            box-sizing: border-box;
            max-width: calc(var(--the-max-width)
                            /*
                              HACK: like the pandemic update box contents
                              (looks better for short paragraphs)
                           */
                            - (4 * var(--pandemic-update-gap)));
            margin: auto;
        }
    }

    > :not(figcaption) {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        video {
            object-position: center bottom;
            object-fit: contain;
        }
    }

    @each $pos, $outside, $inside in (("first" "top" "bottom")
                                      ("last" "bottom" "top")) {
        > figcaption:#{$pos}-child,
        > :not(figcaption):#{$pos}-child .fig-noncaption-payload,
        > .fig-noncaption-payload:not(figcaption):#{$pos}-child {
            @include border-_-leftright-radius($inside, 0);
            border-#{$inside}: none;
        }
        > :not(figcaption):#{$pos}-child {
            &, * {
                @include border-_-leftright-radius(
                    $outside,
                    var(--pandemic-update-border-radius));
            }
        }
    }

    > .fig-noncaption-payload:not(figcaption):only-child {
        border-radius: var(--pandemic-update-border-radius);
    }
}

figure.big-fig {
  @include big-fig-mixin();
}

figure.text-width-fig {
  @include big-fig-mixin($max-width: var(--the-max-width));
}

/*


                          ;;
    ;;      ;;;           ;;                       ;;;
  ;;;;     ;              ;;                      ;   ;
    ;;     ;              ;;;;   ;     ;          ;   ;
    ;;     ;;;            ;;  ;   ;   ;          ;;   ;;
    ;;    ;;  ;           ;;  ;   ;   ;           ;  ;;
    ;;    ;;  ;;          ;;  ;;   ;  ;            ;; ;
    ;;     ;  ;           ;;  ;    ; ;                ;
    ;;     ;  ;           ;;  ;    ; ;               ;
  ;;;;;;    ;;            ; ;;      ;              ;;
                                    ;             ;
                                   ;
                                  ;


*/

.aspect-ratio-box {
    /*
      h/t
      https://stackoverflow.com/a/10441480/2523780
      https://medium.com/bleeding-edge/enforcing-an-aspect-ratio-on-an-html-element-in-react-and-css-27a13241c3d4
    */
    box-sizing: border-box;
    * { box-sizing: border-box; }
    width: 100%;
    height: 0;
    position: relative;
    > :only-child {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        > :only-child {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    /* https://github.com/sass/sass/issues/255 */
    &.w16h9 {
        padding-bottom: 56.25%; /* calc(9 / 16) */
    }
    &.w1280h720 {
        @extend .w16h9;
        max-width: 1280px;
        max-height: 720px;
    }
}

/*


      ;;; ;;;;
     ;      ;;                      ;;
    ;;      ;;                      ;;
    ;;      ;;       ;;    ;;;;    ;;;;;     ;;    ;;  ;;
   ;;;;;    ;;      ;  ;       ;    ;;      ;  ;    ; ;;;
    ;;      ;;      ;  ;       ;;   ;;      ;  ;    ;;
    ;;      ;;     ;;  ;;   ;;;;;   ;;     ;;;;;;   ;;
    ;;      ;;      ;  ;   ;   ;;   ;;      ;       ;;
    ;;       ;      ;  ;  ;;   ;;    ;      ;  ;    ;;
    ;;       ;;;     ;;     ;;; ;     ;;;    ;;    ;;;;


*/
.floater {
    clear: both; /* ??? should this exist ??? */
}

@mixin floaterAsFloat() {
    .floater {
        float: right;
        // max-width: 45%;
        $hmargin: 1rem;
        margin: 0px 0px 2rem $hmargin;
        max-width: min(45%,calc(0.7 * var(--the-max-width)));
        > div {
          max-width: 100%;
          min-width: calc(var(--page-body-max-width)
                          - var(--the-max-width)
                          - #{$hmargin});
          display: flex;
          flex-direction: row;
          justify-content: start;
          > img {
              // width: calc(0.7 * var(--the-max-width));
              max-width: 100%;
              // workaround for Safari issue:
              // https://stackoverflow.com/a/61196907/2523780
              align-self: flex-start;
          }
        }
    }
}
@include floaterAsFloat();

/*
@mixin floaterAsBlock($overhead) {
    @media (max-width: MediaRem((0.914 * $the-max-width) + $overhead)) {
*/
@media (max-width: 57em) {
        .floater {
            float: none;
            max-width: 100%;
            margin: 0px 0px var(--parskip) 0px;
            > div {
              display: block;
              min-width: min-content;
              max-width: max-content;
              > img {
                  width: 100%;
              }
            }
        }
    }
/*}*/

/*
  Breakpoint states, from widest to narrowest:

    1. multiple columns, `.floater`s float with text wrapping
    2. multiple columns, `.floater`s fill whole body area
    3. single column, `.floater`s float with text wrapping`
    4. single column, `.floater`s fill whole body area

  It would be nice to express #2 with:
  ```
        @media (max-width: x) and (min-width: y) { ... }
  ```
  but Firefox didn't smoothly transition from state #2 to state #3
  if they are written that way.
  Instead, we repeat `.floater`'s #1 style under the rule for #3.
*/

$page-container-overhead: (2 * $page-container-horizontal-padding);
$multicol-min-overhead: $page-container-overhead
                            + $lhs-fixed-width
                            + $gutter-min-width;


/*@include floaterAsBlock($overhead: $multicol-min-overhead);*/


$multicol-min-width: $multicol-min-overhead + $page-body-min-width;

@media (max-width: MediaRem($multicol-min-width)) {
    /* @include floaterAsFloat();*/

    .page-container {
        grid-template-areas: "lhs" "header" "content";
        grid-template-columns: minmax(auto,calc(100vw - 2rem));
    }

    main > aside {
        display: none; /* DUBIOUS!! */
    }
}

/*@include floaterAsBlock($overhead: $page-container-overhead);*/












/**/

header.event-header {
    display: flow-root; /* keeps the blue box from going under `.floater`s */

    > :first-child {
        margin-bottom: var(--tighter-parskip);
    }
    > :last-child {
        box-sizing: border-box;
        max-width: var(--the-max-width);
        border-style: solid;
        border-color: var(--solid-episcopal-blue);
        --nonleft-border-width: calc(var(--pandemic-update-gap) / 8);
        border-width: var(--nonleft-border-width)
                         var(--nonleft-border-width)
                         var(--nonleft-border-width)
                         calc(var(--pandemic-update-gap) / 2);
        padding: var(--tighter-parskip) var(--pandemic-update-gap);
        margin-bottom: var(--parskip);

        > p:first-child {
            font-family: "Fira Sans", sans-serif;
            font-weight: 300;
            color: var(--solid-episcopal-blue);
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
}

details.zoom-details {
  > table {
    border-collapse: collapse;
    caption-side: top;
    caption {
      text-align: left;
      > span:first-child {
        font-weight: bold;
      }
    }
    th[scope="row"] {
      font-weight: normal;
      text-align: right;
      padding-left: 1em;
    }
    td {
      text-align: left;
    }
  }
}









/**/

.leadership-person {
    display: flow-root;

    > {

        h4 {
          margin-bottom: var(--tighter-parskip);
        }

        div.leadership-person-info {
          > p:first-child {
            font-size: var(--larger-font-size);
            margin-bottom: 0;
          }
        }

        .floater img {
            height: 100%;
            max-height: 15rem;
        }

        div.leadership-person-bio {
          > details {
            /* moved to details.bh-custom-details */
          }
        }
    }
}

details.bh-custom-details {
    > summary {
        list-style-type: none;
        &::-webkit-details-marker { display: none; }
        box-sizing: border-box;
        display: flow-root;
        color: var(--maroon-solid);
        font-family: "Fira Sans", sans-serif;
        font-weight: normal;
        font-size: var(--smaller-font-size);
        > {
            span > .photon-icon-inline-container > svg.photon-icon {
                margin-left: var(--pandemic-update-gap);
                margin-right: 0.25em;
            }
            span.summary-closed {
                display: inline;
            }
            span.summary-open {
                display: none;
            }
        }
    }
    &[open] > summary {
        &.keep-together {
            margin-bottom: 0;
        }
        > {
            span.summary-closed {
                display: none;
            }
            span.summary-open {
                display: inline;
            }
        }
    }
    ul, ol {
        /* align bullets and disclosure */
        padding-left: calc(var(--pandemic-update-gap) + 1em + 0.25em);
    }
}







div.centered-block-container {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--the-max-width);
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  > :only-child {
    box-sizing: border-box;
  }
}





div.social-media-container {

    p {
        margin-bottom: 0.5em;
    }

    svg.social-media-icon {
        width: 1em;
        height: 1em;
        margin-top: calc((1em * (var(--the-line-height) - 1)) / 2);
        margin-right: 0.5em;
        vertical-align: top;
    }

}

p.basic-button-container {

    font-family: "Fira Sans", sans-serif;
    font-weight: normal;
    margin-bottom: 1rem;

    > {
        a,
        a:link,
        a:visited {
            font-weight: normal; /* needed to override generic <a> */
            display: inline-block;
            box-sizing: border-box;
            text-decoration: none;
            background-color: var(--maroon-solid);
            color: white;
            text-align: center;
            padding: 0.25em 0.5em;
            border-radius: 0.5em;
        }

        a:hover,
        a:active {
            background-color: var(--maroon-text);
        }
    }
    &.basic-button-container.disabled {
        > {
            a {
                background-color: rgb(118,118,118); /* UofC */
            }
        }
    }
}
.blog-nav-buttons-container {
    .rotate-quarter-turn {
        /* to turn photon-icon-back into an up arrow */
        svg.photon-icon.back {
            transform: rotate(0.25turn);
        }
    }
    > {
        p.basic-button-container {
            text-align: center;
            width: 100%;
            > a {
                width: 100%;
                .nav-button-post-title {
                    font-size: var(--smaller-text-size);
                    font-family: "Cormorant", serif;
                }
            }
        }
    }
}



body > footer {

    address {
        > span.address-part {
            display: block;
            box-sizing: border-box;
            margin-bottom: var(--tighter-parskip);
        }
    }

    div.donate-and-subscribe-buttons-container {
        /* display: flex; */
    }

    p.basic-button-container > {
        a:link,
        a:visited {
            color: var(--half-episcopal-blue);
            /* background-color: var(--solid-episcopal-blue); */
        }
    }

}


p.fleuron {
    text-align: center;
}


div.footer-2block {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    > :first-child {
        margin-right: 1.5rem;
    }
}




#bh-uc-map-modal-modal {
    display: none;
}
#bh-uc-map-modal-modal.is-open {
    display: block;
}
header.fall21-event-header {
    display: flow-root; /* keeps the blue box from going under `.floater`s */

    > :first-child {
        margin-bottom: var(--tighter-parskip);
    }
    > :last-child {
        box-sizing: border-box;
        max-width: var(--the-max-width);
        //border-style: solid;
        //border-color: var(--solid-episcopal-blue);
        --nonleft-border-width: calc(var(--pandemic-update-gap) / 8);
       // border-width: var(--nonleft-border-width)
       //                  var(--nonleft-border-width)
       //                  var(--nonleft-border-width)
        border-left: calc(var(--pandemic-update-gap) / 2) solid var(--solid-episcopal-blue);
        border-bottom: var(--nonleft-border-width) solid var(--solid-episcopal-blue);
        padding: var(--tighter-parskip) var(--pandemic-update-gap);
        margin-bottom: var(--parskip);

        > p:first-child {
            font-family: "Fira Sans", sans-serif;
            font-weight: 300;
            color: var(--solid-episcopal-blue);
        }

        > :last-child {
            margin-bottom: 0;

            a {
                margin-left: 0.5em;
            }
        }
    }
}



