/*
   This file contains declarations for font families used throughout the site,
   which should rarely change.
   They are combined in a single file to reduce the number of HTTP requests.
   Fonts are only loaded if they are actually used on a given page.

   Each family is prefixed with an identifying comment.

   Relative URLs (including in comments) are relative to this file.

*/

/*
   Cormorant font family

   Copyright (c) 2015 Christian Thalmann and the Cormorant Project Authors
   Source: https://github.com/CatharsisFonts/Cormorant/
   Tag: v3.601

   NOTE: The upstream WOFF2 files were not updated in v3.601.
   These files were generated with `woff2_compress` from the
   released OTF files.
   For confirmation, sha256 checksums of the released OTF files
   are listed in in <cormorant/source-checksums.txt>.

   SIL Open Font License, Version 1.1
   See <cormorant/OFL.txt>.

   For further details, see <cormorant/FONTLOG.txt>.

*/

@font-face {
  font-family: "Cormorant";
  font-weight: normal;
  font-style: normal;
  /* src: url("cormorant/Cormorant-Regular.woff2") format("woff2"); */
  src: url("cormorant/Cormorant-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: normal;
  font-style: italic;
  /* or Cormorant-Italic.woff2 */
  src: url("cormorant/Cormorant-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: bold;
  font-style: normal;
  src: url("cormorant/Cormorant-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: bold;
  font-style: italic;
  src: url("cormorant/Cormorant-BoldItalic.woff2") format("woff2");
}

/*
  Bravura & Bravura Text font families

  Copyright © 2015 Steinberg Media Technologies GmbH,
  with Reserved Font Name "Bravura".
  Source: https://github.com/steinbergmedia/bravura/

  Assuming this comment is up to date,
  we are using the 1.35 release,
  which is commit bbe6127691fe757ae4beffafbe7e6b90af9dbaa9.

  SIL Open Font License, Version 1.1
  See <bravura/OFL.txt>.

  For further details, see <bravura/FONTLOG.txt>.

  Note:
  - Bravura is sometimes used in SVGs generated by Dorico.
  - Bravura Text we use directly from HTML/CSS,
    e.g. for the quarter-rest in pointed psalms.
*/

@font-face {
    font-family: "Bravura Text";
    src: url("bravura/BravuraText.woff2") format("woff2");
}

@font-face {
    font-family: "Bravura";
    src: url("bravura/Bravura.woff2") format("woff2");
}

/*
   Keter YG font family (for Hebrew)

   Copyright (c) 2010 by Yoram Gnat
   Source: http://culmus.sourceforge.net
   or <keter/KeterYG-Bold.sfd>.

   WOFF2 files generated with FontForge 20200314 by Philip.

   GNU General Public License, version 2, with font exception
   See <keter/LICENSE.txt> and <keter/COPYING.txt>.

   For further details, see <keter/README.txt>.

*/

@font-face {
    font-family: "Keter YG";
    font-weight: bold;
    font-style: normal;
    src: url("keter/KeterYG-Bold.woff2") format("woff2");
}

/*
  Fira Sans & Fira Mono font families

  Copyright (c) 2012–2018 The Mozilla Foundation, Telefonica S.A.,
  Carrois Corporate GbR, bBox Type GmbH, and contributors

  SIL Open Font License, Version 1.1

  See <fira/README.md> for complicated details about the
  source and version used.

*/

/* Light */
@font-face {
    font-family: "Fira Sans";
    font-weight: 300;
    font-style: normal;
    src: url("fira/FiraSans-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Fira Sans";
    font-weight: 300;
    font-style: italic;
    src: url("fira/FiraSans-LightItalic.woff2") format("woff2");
}

/* Regular */
@font-face {
    font-family: "Fira Sans";
    font-weight: normal;
    font-style: normal;
    src: url("fira/FiraSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Fira Sans";
    font-weight: normal;
    font-style: italic;
    src: url("fira/FiraSans-Italic.woff2") format("woff2");
}

/* Bold */
@font-face {
    font-family: "Fira Sans";
    font-weight: bold;
    font-style: normal;
    src: url("fira/FiraSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Fira Sans";
    font-weight: bold;
    font-style: italic;
    src: url("fira/FiraSans-BoldItalic.woff2") format("woff2");
}
